h1, h2, h3, h4, h5, h6 {
    color: #F5C200;
  }

#banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
				url('../../images/wshs_swim_1.jpg');
}
@media screen and (max-width: 736px) {

    #banner {
        padding: 7em 3em 5em 3em ;
        height: auto;
        min-height: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url('../../images/wshs_swim_1.jpg');
    }
    #banner h2 {
        font-size: 1.6em;
    }
    #banner br {
        display: inline;
    }
}
article#main > header{
    background-position-y: center;
    background-size: auto;
}
#menu {
	background-color: rgba(19, 41, 75, 0.8);
}

h2.special{
    text-align: center;
}

td{
    font-size: 14px;
}